@model EmployeeDetailsDto
@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>
<div class="row justify-content-start align-items-start">
    <div class="col-4">
        <img src="~/files/images/@Model.Image" class="img-fluid rounded-2 my-3 bg-danger" alt="Employee Image" />
    </div>
</div>
<!-- Navigation bar using Bootstrap 5 tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#administration" type="button" role="tab" aria-controls="administration" aria-selected="false">Administration</button>
    </li>
</ul>

<!-- Tab content using Bootstrap 5 tab panes -->
<div class="tab-content" id="myTabContent">
    <!-- General Section (default visible) -->
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <br />
        <h3>General</h3>
        <ul class="list-unstyled">
            
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Age" class="col-form-label"></label>
                    <input asp-for="Age" class="form-control" readonly>
                </div>
            </li>
            @* <li>
            <div class="form-group mb-3">
            <label asp-for="DepartmentId" class="col-form-label"></label>
            <input asp-for="DepartmentId" class="form-control" readonly>
            </div>
            </li> *@
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Department" class="col-form-label"></label>
                    <input asp-for="Department" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Address" class="col-form-label"></label>
                    <input asp-for="Address" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Salary" class="col-form-label"></label>
                    <input asp-for="Salary" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="IsActive" class="col-form-label"></label>
                    <input asp-for="IsActive" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="col-form-label"></label>
                    <input asp-for="Email" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="col-form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="HirringDate" class="col-form-label"></label>
                    <input type="date" asp-for="HirringDate" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="Gender" class="col-form-label"></label>
                    <input asp-for="Gender" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="EmployeeType" class="col-form-label"></label>
                    <input asp-for="EmployeeType" class="form-control" readonly>
                </div>
            </li>
        </ul>
    </div>

    <!-- Administration Section -->
    <div class="tab-pane fade" id="administration" role="tabpanel" aria-labelledby="admin-tab">
        <br />
        <h3>Administration</h3>
        <ul class="list-unstyled">
            <li>
                <div class="form-group mb-3">
                    <label asp-for="CreatedBy" class="col-form-label"></label>
                    <input asp-for="CreatedBy" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="CreatedOn" class="col-form-label"></label>
                    <input type="date" asp-for="CreatedOn" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="LastModifiedBy" class="col-form-label"></label>
                    <input asp-for="LastModifiedBy" class="form-control" readonly>
                </div>
            </li>
            <li>
                <div class="form-group mb-3">
                    <label asp-for="LastModifiedOn" class="col-form-label"></label>
                    <input type="date" asp-for="LastModifiedOn" class="form-control" readonly>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Actions -->
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
<a asp-action="Index" class="btn btn-light">Back To List</a>
